*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    font-size: 50px;
    color: seagreen;
    background-color: white;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
}
div{
    height: auto;
    margin: auto;
    width: 80%;
    background-color:seagreen;
    color: white;
    border-radius: 15px;
   
}
.main{
    margin-top: 50px;
}
.ans{
    padding: 15px;
}
h4{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 30px;
}
li{
    font-size: 25px;
    
}
.right, .left{
    width: 70px;
    height: 50px;
    font-size: 30px;
    border-radius: 50px;
    background-color: white;
    border: none;
    margin-top: 50px;
    margin-bottom: -5px;
    box-shadow: 5px 5px 5px seagreen;
}
.right{
    float: right;
}
.right i, .left i{
    color: seagreen;
    text-shadow: 2px 2px 5px;
}
.right:hover, .left:hover{
    background-color: seagreen;    
    text-shadow: none;
}
.right:hover i, .left:hover i{
    color: white;
}
.right:active, .left:active{
    font-size: 40px;
    box-shadow: none;
}
