div{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color:lightseagreen;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.que{
    font-size: 40px;
}
th{
    font-size: 30px;
}
td{
    font-size: 25px;
    padding: 10px 15px;
}
table, th, td{
    border: 3px solid white;
    border-collapse: collapse ; 
    
}
