* {
    margin: 0;
    padding: 0;
    color: white;
}
.heading {
    width: 450px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.heading p{
    color: darkgray;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 60px;
}
.qa {
    width: 80%;
    margin: auto;
    font-size: 25px;
}
.que{
    font-size: 30px;    
}
.ans{
    width: 90%;
    margin: auto;
}
.aa {
    border: 1px solid wheat;
    padding: 50px;
    border-radius: 50px;
    background-color: gray;
}
.right, .left{
    width: 70px;
    height: 50px;
    font-size: 30px;
    border-radius: 50px;
    background-color: white;
    border: none;
    margin-top: 50px;
    margin-bottom: -5px;
    box-shadow: 5px 5px 5px black;
}
.right{
    float: right;
}
.right i, .left i{
    color: black;
    text-shadow: 2px 2px 5px;
}
.right:hover, .left:hover{
    background-color: gray;    
    text-shadow: none;
}
.right:hover i, .left:hover i{
    color: white;
}
.right:active, .left:active{
    font-size: 40px;
    box-shadow: none;
}
table, td{
    border: 1px solid  wheat;
    padding: 5px;
    border-collapse:collapse ;
}